/*--- body ---*/

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px;
}

/*--- This is where I format the header ---*/

header {
background-color: #EAEAEA;
padding: 1rem 2vw;

}

header p {
    letter-spacing: .5px;
}

header h1, p{
    margin: 0px;
    color: #024873;
}

/*--- This is where I format the navigation ---*/

nav{
    background-color: #f2b705;
}
nav ul{
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #024873;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav a:hover {
    color: white;
}

nav li.active a{
    background-color: #024873;
    color: #f2b705;

}