/*-- Colors --*/
/* Light Green #9C9B7A */
/* Olive Green #696D5D */
/* Darker Green #5A5E4E */
/* Dark Green #3B3C36 */
/* Orange #F28F3B */

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }


body {
    background-color: #696D5D;
    color: white;
    font-family: "Merriweather", serif;
    margin: 0;
}

header {
    background-color: #3B3C36;
    padding: .5rem 2vw;
    display: flex;
}

header h1 {
    font-weight: 900;
    margin: 0 auto;
    padding-left: 1rem;
    color: #FFFFFF;
    max-width: 72rem;
}

div.logo img {
    max-width: 72rem;
    margin: 0 auto;
}

@media only screen and (max-width:600px) {
    nav{
        background-color: #5A5E4E;
    }
    nav ul{
        margin: 0 auto;
        padding: 0 2vw;
        list-style-type: none;
        max-width: 72rem;
    }

    nav a{
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        color: white;
    }

    nav li.active a {
        background-color: #8C501B;
        color: #ffffff;
        background-image: linear-gradient(to bottom, #C69749, #735F32);
    }

}


@media only screen and (min-width:601px) {
    nav{
        background-color: #5A5E4E;
    }
    nav ul{
        list-style-type: none;
        padding: 0rem;
        margin: 0 auto;
        display: flex;
        max-width: 72rem;
    }

    nav a{
        text-decoration: none;
        font-size: 1.1rem;
        color: #C69749;
        font-weight: 700;
        display: flex;
        padding: .83rem 2rem;
    }

    nav a:hover {
        color: #FFFFFF;
    }

    nav li.active a{
        background-color: #735F32;
        color: #FFFFFF;

    }

}

  main {
    max-width: 72rem;
    margin: 0 auto;
  }

  .heroimg {
    margin: 0;
  }

div.review {
    display: flex;
    padding: 2rem;
}

div.review figcaption {
    text-align: center;
}

main h1 {
    padding: 1rem;
}

p {
    padding: 1rem;
}

.destinationtitle {
    text-align: center;
    font-weight: 900;
}


.guilds ol {
   font-size: 2rem;
}

.guilds li {
    padding: 1rem;
}

/*-- video --*/

.video1 {
    position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
 }
 .video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     padding-bottom: 4rem;
     padding-top: 2rem;
 }

/*-- Destination */

figure.guild1 img {
    display: table;
    float: right;
    padding-left: 11.9rem;
    margin: 0;
    
}

.destination1 h2 {
    display: table;
}

.destination1 p {
    width: 40%;
    display: table;
    float: left;
}


figure.guild1 img {
    display: table;
    float: left;
    width: 40%;
}

figure.guild2 img {
    width: 40%;
}

figure.guild1 figcaption {
    text-align: right;
    font-weight: 700;
    font-size: 1.5rem;
}

figure.guild2 figcaption {
    font-weight: 700;
    font-size:1.5rem;
}

.destination2 p {
    width: 40%;
    display: table;
    float: right;
    text-align: right;
}

div.packages1{
    width: 40%;
    display: table;
    float: left;
    margin: 2rem;
    margin-top: 3rem;
    border: 1px solid white;
    padding-left: 1rem;
    border-radius: 10px;
    background-color: #5A5E4E;
}

div.packages1 p{
    padding-top:0;
    margin-top:0;
    margin-bottom: 0;
}

div.packages1 a{
    text-decoration: none;
    color: white;
}

div.packages1 a:hover{
    color: grey;
}


figure.packages2 img {
    width: 40%;
    display: table;
    float: right;
    padding: 0 2rem 2rem 0;
}


 /*-- Form --*/

.myform fieldset{
    border: 2px solid #888888;
    border-radius: 3px;
    margin: 1rem 2rem;
    font-family: "Merriweather", serif;
    background-color: #5A5E4E;
}
.myform legend {
    color: #FFFFFF;
    font-size: .8rem;
}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=email], .myform [type=tel], .myform textarea {
    display: block;
}

.myform [type=text], .myform [type=email], .myform [type=tel], .myform textarea {
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    padding: .3rem;
    width: 250px;
    font-family: merr
}

.myform select {
    border: solid 1px white;
    background-color: #5A5E4E;
    border-radius: 5px;
    color: white;
    padding: .3rem;
    width: 250px;
    font-family: "Merriweather", serif;

}

.myform textarea {
    height: 6rem;
    margin: 1rem 0rem;
    background-color: #5A5E4E;
    font-family: "Merriweather", serif;

}

.myform :required {
    background-color: rgba(255, 255, 255,.1);
}

.myform [type=submit] {
    background-color: #F28F3B;
    border: solid 2px white;
    padding: 1.5rem 2.5rem;
    border-radius: 10px;
    color: white;
    margin: 0rem 2rem 2rem 2rem;
    font-family: "Merriweather", serif;
    box-shadow: 3px 3px 3px black;
}
label.comments {
    margin: 2vw;
}
footer {
    background-color: #3B3C36;
    padding: 1rem 2vw;
    text-align: center;
    margin: 0;
    clear: both;
}
