/*-- Color Palette
#000000 Black
#282A3A Dark Grey
#484A58 Light Grey
#735F32 Dark Brown
#C69749 Light Brown
#FFFFFF White --*/

/*-- header -- */

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  header {
    background-color: #000000;
    padding: 1rem 2vw;
    }
    header p {
        letter-spacing: .5px;
        font-weight: 400;
        font-style: normal;
    }
    header h1, p {
        margin: 0px;
        color: #FFFFFF;
    }

    header h1 {
        font-weight: 900;
    }

/*-- nav -- */
nav{
    background-color: #282A3A;
}
nav ul{
    list-style-type: none;
    padding: 0rem;
    margin: 0;
    display: flex;
}

nav a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #C69749;
    font-weight: 700;
    display: flex;
    padding: .83rem 2rem;
}

nav a:hover {
    color: #FFFFFF;
}

nav li.active a{
    background-color: #735F32;
    color: #FFFFFF;

}
   
/*-- body -- */

body{
    color:#FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;   
    background-color: #484A58;
    font-size: 16px;
    margin: 0px;
}

/*-- main --*/

main h1 {
    font-weight: 700;
    font-size: 32px;
    padding: 0;
    margin-bottom: .25rem;
}

main h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: .25rem;
}

main p {
    font-size: 16px;
}

main ol{
    padding: .5rem 3vw;
    width: 15rem;
}

main ol li {
    padding: .25rem;
    font-size: 18px;
}

main dl {
    background-color:#282A3A;
}

main dl dt{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
}

main dl dd{
    color: #FFFFFF;
    font-size: 1.1rem;
}

main ul {
    list-style-type:lower-alpha;
    margin: 0 0 .5rem 0;
    font-size: 12px;
}

main ul li {
    line-height: 125%;
    margin-bottom: .1rem;
    font-size: 16px;
}

.source1 a {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a:hover {
    color: lightgray;
}

address{
    font-style: normal;
    background-color: #C69749;
    padding: .5rem;
    width: 12.5rem;
    border: 2px solid #735F32;
    border-radius: .8rem;
}

.page {
    margin: 2vw;
}

/*-- Images --*/
figure.home{
    width: 30%;
    margin: 2%;
    float: right;
    display: table;
}

figure.home img {
    width: 100%;
    height: auto;
}

figcaption.home {
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 700;
    display: table-caption;
    caption-side: top;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

div.gallery a{
    margin: 0 2% 0 0;
}

div.gallery figcaption{
    text-align: center;
    font-size: 1.1rem;
    color: #FFFFFF;
    text-decoration: none;
}

/*-- Footer --*/

footer {
    background-color: #282A3A;
    padding: 1rem 2vw;
    text-align: center;
    margin: 0;
    clear: both;
}

